@media only screen and (max-width:1080px) {
    
    .work-info {
        width: 55%;
        
    }
    
    .pillow article {
    width: 100%;
/*    margin: 0 auto;*/
    text-align: left;
    padding-bottom: 25px;
    
}
    
    .pillow article h3 {
        width: 45%;
        padding-right: 25px;
        padding-left: 25px;
    }

    .pillow article p {
        width: 64%;
        padding-right: 35px;
        padding-left: 25px;
    }
    
    .pillow article div {
        margin-right: 25px;
    }
    
}

@media only screen and (max-width:960px) {
    
    .pillow article p {
        width: 60%;
        
    }
    
    #tests {
        height: 430px;
    }
    
}

@media only screen and (max-width:920px) {
    
    .pillow article p {
        width: 55%;
        
    }

}

@media only screen and (max-width:866px) {
    
    .pillow article div {
        float: none;
    }
    
    .work-info {
        width: 100%;
        
    }
    
    .pillow article {
    width: 100%;
/*    margin: 0 auto;*/
    text-align: left;
    padding-bottom: 25px;
    
}
    
    .pillow article h3 {
        width: 100%;
        padding-right: 25px;
        padding-left: 25px;
    }

    .pillow article p {
        width: 100%;
        padding-right: 35px;
        padding-left: 25px;
    }
    
    #work {
        margin-top: 60px;
        padding-top: 10px;
        height: auto;
        background-color: white;
    }
    
    #work2 {
        height: auto;
        padding-top: 10px;
        width: 100%;
    }
    
    #work3 {
        height: auto;
        padding-top: 10px;
    }
    
    #work4 {
        height: auto;
        padding-top: 10px;
        width: 100%;
    }
    
    #work5 {
        height: auto;
        padding-top: 10px;
    }
    
    #work6 {
        height: auto;
        padding-top: 10px;
        width: 100%;
    }
    
    #work7 {
        height: auto;
        padding-top: 10px;
    }
    
    #tests {
/*        margin-top: 45%;*/
        padding-top: 10px;
        height: auto;
        background-color: white;
        height: 600px;
    }
}


@media only screen and (max-width:840px) {
    #tests {
        height: 650px;
    }
}

@media only screen and (max-width:770px) {

	.container > section {
        position: static;
        /* padding: 15px; */
        text-align: center;
    }
    
    #about {
        position: static;
        /* margin: 60px, 20px, 20px, 20px; */
        padding: 60px, 20px, 20px, 20px;
		width: 100%;
        max-width: 750px;
	}

    #about img {
        display: inline-block;
        position: static;
        /* margin: 50px, 10px, 10px, 10px; */
        width: 250px;
        height: 250px;
        padding-right: 0;
    }

    #about-content {
        position: static;
        width: 100%;
        padding-right: 0;
    }

    #about-content p {
        position: static;
        width: 100%;
        padding-right: 0;
    }

	#cv {
		width: 100%;
		margin: 25px, 0, 0, 0;
        padding: 20px 0 20px 50px;
        height: auto;
    box-sizing: content-box;
    max-height: 12250px;
	}

    #cv-content {
        width: 100%;
		position: relative;
        
	}

    #cv-content h3 {
        width: 100%;
        max-width: 90%;
        text-align: left;
    }

    #cv-content h4 {
        width: 100%;
        max-width: 90%;
        text-align: left;
    }

	#cv-content p {
		width: 100%;
        max-width: 90%;
		text-align: left;
		
	}

    #cv-content ul {
		width: 100%;
        max-width: 90%;
		text-align: left;
		
	}

    #cv-content ul li{
        width: 100%;
        max-width: 90%;
		text-align: left;
		
	}

	


    
    #tests {
        height: 600px;
    }

}

@media screen and (max-width: 1066px) {
    .section-spacer {
        height: 35px;
    }

    .section-headers {
        width: 90%;
    }

    .section-headers p {
        width: 90%;
        max-width: 560px;
    }

    .section-headers h2 {
        width: 90%;
        max-width: 560px;
    }

    .section-headers small {
        width: 90%;
        max-width: 560px;
    }

    .portfolioTagContainer {
        height: 105px;
    }

    .portfolioTags {
        max-width: 60%;
        margin: 10px auto 0 auto;
    }

    .portfolioTags span {
        margin-right: 0;
    }

    .portfolioTags span:last-child {
        margin: 12px 9px 26px 9px;
      }
    
    #work10 {
        height: 925px;
        padding-top: 15px;
    }
    
    #work12 {
        height: 620px;
    }
    
    #work13 {
        height: 700px;
    }

   .work-info {
        width: 100%;
        padding: 0 25px;
    }    
    
    #tests {
        height: 750px;
    }

    #footer > .inner {
        width: 90%;
        padding: 0;
    }
}
    


@media only screen and (max-width:739px) {

	/* #about-content h3 {
		margin-top: 12%;
	} */

	/* #about-content {
		padding-right: 40px;
	} */
    
    #tests {
        height: 650px;
    }

}
@media only screen and (max-width:675px) {

	/* #about-content {
		padding-right: 50px;
		width: 58%;
		top: 5px;
	} */

    #tests {
        height: 660px;
    }
    
}
@media only screen and (max-width:615px) {

	/* #about-content {
		padding-right: 60px;
		top: -25px;
		width: 55%;
	} */

	/* #about-content p {
		font-size: 0.86em;
} */

    #tests {
        height: 690px;
    }
    
}
@media only screen and (max-width:580px) {

    body {background-color: rgb(255, 255, 255);}
    
    /* #about {
        top: 63px;
        background: #e4e4e4 url("http://joeford.me/images/joe.jpg") no-repeat center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    } */
    
    
    .responsive-indent {
        width: 100%;
    }

    a[data-hs-anchor="true"] {   
        display: block; 
        position: relative; 
        visibility: hidden; 
        top: 105px;  
       }

    .section-spacer {
        height: 35px;
    }

    .section-headers {
        width: 90%;
    }

    .section-headers p {
        width: 90%;
        max-width: 560px;
    }

    .section-headers h2 {
        width: 90%;
        max-width: 560px;
    }

    .section-headers small {
        width: 90%;
        max-width: 560px;
    }

    .portfolioTagContainer {
        height: 105px;
    }

    .portfolioTags {
        max-width: 90%;
        margin: 10px auto 0 auto;
    }

    .portfolioTags span {
        margin-right: 0;
    }

    .portfolioTags span:last-child {
        margin: 12px 9px 26px 9px;
      }
    
    #work10 {
        height: 925px;
        padding-top: 15px;
    }
    
    #work12 {
        height: 620px;
    }
    
    #work13 {
        height: 700px;
    }

   .work-info {
        width: 100%;
        padding: 0 25px;
    }    
    
    #tests {
        height: 750px;
    }

    #footer > .inner {
        width: 90%;
        max-width: 500px;
        padding: 0;
    }
}

@media only screen and (max-width:480px) {
    #cv {
        top: 540px;
    }
    
    /* #cv-content {
		top: -180px;
	} */

    #work-container {
        top: 1px;
        width: 100%;
        background: white url("/images/close-button-icon.png") no-repeat scroll center top;
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
        background-size: contain;
    }
    
    #work {
        margin-top: 52px;
        padding-top: 10px;
        height: auto;
        background-color: white;
    }
    
    #tests {
        margin-top: 36px;
        padding-top: 10px;
        height: 700px;
        background-color: white;
    }
    
    .pillow {
        width: 90%;
        margin: 0 auto;
        padding-top: 35px;
    }

    .pillow article div {
        float: none;
        margin: 0 auto;
    }
    
    .work-info {
        width: 100%;
    }
    
    .work-info h1 {
        font-size: 1.7em;
        width: 100%;
    }
    
    .pillow article {
    width: 100%;
    text-align: left;
    padding-bottom: 25px;
    
}
    
    .pillow article h3 {
        width: 100%;
        padding-right: 0px;
        padding-left: 0px;
    }

    .pillow article p {
        width: 100%;
        padding-right: 0px;
        padding-left: 0px;
    }
}


@media only screen and (max-width:406px) {
    #cv {
        top: 560px;
    }
    
    /* #cv-content {
		top: -180px;
	} */

   .work-info {
        width: 100%;
        
    }    
    
}

@media only screen and (max-width:375px) {
    
    /* #about {
        position: relative;
        width: 100%;
        max-width: 360px;
        text-align: left;
    } */
    
    /* #about img {
        position: absolute;
        top: 1px;
        left: 3px;
        height: 100px;
        width: 100px;
    } */
    
    /* #about-content {
        position: absolute;
        width: 100%;
        max-width: 360px;
        left: 1px;
        height: 675px;
        background-color: rgba(255, 255, 255, 1);
    }  */
    
    #cv {
        width: 100%;
        max-width: 365px;
    }

    #cv-content {
        width: 100%;
        max-width: 365px;
        height: auto;
    }

    .pillow article div {
		margin: 0 auto;
	}
    
   .work-info {
        width: 100%;
        
    }
    
    #work {
        margin-top: 52px;
        padding-top: 10px;
        height: auto;
        background-color: white;
    }

    #tests {
        height: 900px;
    }
    
}